#delete-user-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.delete-user-button{
  margin: 5px;
  margin-bottom: 0;
  padding: 5px;
  color: var(--button-text);
  background-color: var(--button-background);
  border: 2px var(--secondary-border) solid;
  transition-duration: 0.4s;
  border-radius: 10px;
}