.update-user-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--interface-background);
}
.update-user-form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
.update-user-title{
  font-size: 1.5em;
}
.update-user-button-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.update-user-button{
  margin: 0 15px;
}
.cancel-button{
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 1.5em;
}







