.update-user-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--interface-background);
}
.update-user-form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
.update-user-title{
  font-size: 1.5em;
  color: var(--interface-text);
}
.update-user-input{
  width: 80%;
  border-bottom: 1px solid var(--interface-border);
}
.update-user-button{
  margin: 0 15px;
  padding: 5px;
  color: var(--interface-text);
  background-color: var(--interface-button-background);
  border: 2px var(--interface-border) solid;
  border-radius: 10px;
}
.cancel-button{
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 1em;
}







