#users-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.users-container {
  flex: 0 0 28%;
  min-width: 250px;
  min-height: 250px;
  max-height: 250px;
  display: flex;
  flex-flow: column wrap;
  justify-content: top;
  align-items: center;
  color: var(--secondary-text);
  background-color: var(--secondary-background);
  border: 1px var(--secondary-border) solid;
  margin: 10px;
  padding: 10px;
  position: relative;
  z-index: 10;
}

.users-alterations-container{
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.users-alterations-button{
  margin: 5px;
  margin-bottom: 0;
  padding: 5px;
  color: var(--mode-button-text);
  background-color: var(--mode-button-background);
  border: 2px var(--secondary-border) solid;
  transition-duration: 0.4s;
}

.users-box{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
  .users-avatar{
    height: 150px;
    width: 150px;
    padding-bottom: 15px; 
  }
  .users-title{
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 15px; 
  }
  .users-text{
    font-size: 1em;
  }
  .users-update-box {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
  }
  .hidden{
    display: none;
  }
