.app-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--primary-background);
  font-family: Arial, Helvetica, sans-serif;
}
.app-mode-button{
  margin: 15px;
  padding: 10px;
  color: var(--mode-button-text);
  background-color: var(--mode-button-background);
  border: 2px var(--secondary-border) solid;
  transition-duration: 0.4s;
}
.app-mode-button:hover, .app-mode-button:focus{
  
}
